.entry .w {
  height: 500px;
  background-color: #ffffff;
  background-image: url(../img/assets/首页-自然造物\ Made\ in\ Nature-淘宝网.png);
}

.entry .w .catoefory {
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
}

.entry .w .catoefory li {
  height: 50px;
  display: flex;
  align-items: center;
}

.entry .w .catoefory li:hover {
  background-color: #00BE9A
}

.entry .w .catoefory li h2 {
  font-size: 16px;
  color: #ffffff;
  margin-right: 14px;
  margin-left: 20px;
}

.entry .w .catoefory li p {
  font-size: 14px;
  color: #ffffff;
}







.shop1 .w .title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 30px;
  margin-top: 30px;
}


.shop1 .w .title h2 {
  height: 42px;
  font-size: 30px;
  color: #333333;
  margin-right: 35px;
}

.shop1 .w .title h3 {
  height: 22.5px;
  font-size: 14px;
  color: #A1A1A1;
}

.shop1 .w .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 404px;
  margin-bottom: 40px;

}

.shop1 .w .content .box {
  width: 304px;
  height: 404px;
  background-color: #EEF9F4;
}

.shop1 .w .content .box p {
  text-align: center;
}

.shop1 .w .content .box p:nth-child(2) {
  font-size: 20px;
  color: #333333;
  margin-top: 18px;
  margin-bottom: 18px;
}

.shop1 .w .content .box p:nth-child(3) {
  font-size: 22px;
  color: #AA2113;
  margin-bottom: 15px;
}

.shop2 .w .content .box {
  width: 304px;
  height: 404px;
  background-color: #fff;
}

.shop1 .w .content .box p:nth-child(3) {
  font-size: 16px;
  color: #A1A1A1;
  margin-bottom: 15px;
}

.shop3 {
  height: 466px;
  background-color: #F5F5F5;
  overflow: hidden;

}

.shop3 .w .title {
  margin-top: 40px;
  margin-bottom: 5px;
}

.shop3 .w .arrow {
  display: flex;
  justify-content: flex-end;

}

.shop4 .w .title {
  display: flexbox;
  align-items: center;
}

.shop4 .w .title h2 {
  margin-right: 639px;
}

.shop3 .w .arrow img {
  margin-right: 12px;
  margin-bottom: 15px;
}

.shop4 .w .title .content4 a:nth-child(-n+7) {
  font-size: 16px;
  color: #333333;
  margin-right: 10px;
  padding: 5px 5px;
}

.shop4 .w .title .content4 a:nth-child(-n+7):hover {
  background-color: #00BE9A;
  color: #ffffff;

}

.shop1.shop4 .w .title .content4 .te {
  margin-right: 0px;
  color: #A1A1A1;
}

.shop4 .w .img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop4 .w .img .col2 .name {
  font-size: 16px;
  width: 200px;
  height: 57px;
  margin-top: 14.5px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 7px;
}

.shop4 .w .img .col2 .price {
  color: #AF2F22;
  font-size: 22px;
  margin-bottom: 10px;
}

.abc {
  margin-bottom: 100px;
}

.shop5 .w .title {
  margin-bottom: 30px;
}

.shop5 .w .title h2 {
  margin-right: 1034px;
}

.content5 a {
  font-size: 16px;
  color: #A1A1A1;
}

.img ul {
  display: flex;
  gap: 12px;
}

.img ul li {
  width: 405px;
  height: 355px;
  margin-right: 30px;
}

.img ul li .img img {
  width: 100%;
  margin-bottom: 23px;
}
.img ul li .img .box {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.img ul li .img .box i:nth-child(1){
  color: red;
}
.img ul li .img .box i:nth-child(3){
  margin-right: 180px;
}